.navbar{
  height: 100px;
  min-height: 100px;
}

.content-wrapper {
  margin-left:  auto;
  margin-right: auto;
}

@media screen and (min-width: 55em) {
  .content-wrapper {
    float:        left;
    display:      block;
    margin-left:  20%;
    margin-right: 20%;
    width:        60%;
  }
}

.quiz-question-header {

}

.quiz-question-body {
  
}
