.head {
  background-color: #e1cfcf;
  color:            #e1cfcf;
  font-size:        1rem;
  padding:          1rem;
  font-family:      athelas, georgia, serif;
  vertical-align:   middle;
}

.main {
  color:            #434343;
  font-family:      athelas, georgia, serif;
}

.link {
  padding-right: 2rem;
}

.quote {
  background: #eee;
  border:     1px solid #ccc;
  margin:     1.5rem;
  padding:    1rem;
}

.quote-text {
  font-size:   1.2rem;
  font-weight: normal;
  font-style:  italic;
}

.quote-source {
  font-size:   1rem;
  font-weight: bold;
  font-style:  italic;
  text-align:  right;
}

.content-wrapper {
  display:      block;
  margin-left:  auto;
  margin-right: auto;
  padding:      1rem;
}

@media screen and (min-width: 45em) {
  .content-wrapper {
    float:        left;
    margin-left:  15%;
    margin-right: 15%;
    width:        70%;
  }
}

.h-sub {
  font-size: 1.5rem;
}

.pa-t {
  padding: 0.5rem 0;
}

@media screen and (min-width: 45em) {
  .pa-t {
    padding: 0.5rem;
  }
}

.qu {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color:        rgba( 0, 0, 0, .2 );
}

.qu:last-of-type {
  border: none;
}

.qu-t {
  font-weight: bold;
}

.qu-as {
}

.qu-a {
    display: inline-block;
    width:   45%;
}

@media screen and (min-width: 45em) {
  .qu-a {
    display: inline-block;
    width:   22%;
  }
}

.qu-b {
  display:      block;
  margin-left:  auto;
  margin-right: 1rem;
}
