{{#*inline "page"}}

<h2 class="h-sub">{{ title }}
<div class="quote">
  <p class="quote-text">
"TOM!"

No answer.

"TOM!"

No answer.

"What's gone with that boy, I wonder? You TOM!"

No answer.
  </p>
  <p>
  <p class="quote-source">
    - Mark Twain
  </p>
</div>

{{/inline}}
{{~> (parent)~}}
