{{#*inline "page"}}


<h2 class="h-sub">{{ title }}
<div class="quote">
  <p class="quote-text">
"as Pooh was beginning to think that he  must  have  chosen
the  wrong  stone or the wrong river or the wrong day for his
idea..."
  </p>
  <p>
  <p class="quote-source">
    - A.A. Milne
  </p>
</div>

{{/inline}}
{{~> (parent)~}}
