{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="f3">About</h1>
  <p class="f4">
This is a political compass test.
  </p>
  <p class="f4">
On the x axis we measure people on a scale which runs from the economic left to the economic right and on the y axis we measure you from woke to conservative.
  </p>
We store your answers in order to tell you fun facts like what your most controversial opinion is, to update and calibrate the quiz, and to publish blogs on this this website with interesting findings.
  </p>
  <h2 class="f3">What are you adding?</h2>
  <p class="f4">
For those of you who don’t know, the original political compass test was written to map views on the x axis from the economic left to the economic right, and on the y axis from liberal to authoritarian. 
  </p>
  <p class="f4">
As we see it, there are a handful of problems with this quiz.
  </p>
  <p class="f4">
Firstly, by being written in 2001 and going unchanged, it is a little outdated. Attitudes and circumstances have changed a lot over the past 20 years and it needs a few updates.
  </p>
  <p class="f4">
Also as a British person, it is clear to me that these questions are more relevant to the USA and I would like a quiz that reflects British politics better.
  </p>
  <p class="f4">
The liberal/authoritarian axis is boring. Questions about civil liberties and democracy are less relevant than <i>culture war</i> issues are to current discourse. This is why we have decided to go with woke/conservative for the y axis.
  </p>
  <p class="f4">
The person who wrote the original quiz is quite clearly in the green square and they provide a poor framework for how people with other opinions think. For example, the first question on the test is <i>If economic globalisation is inevitable, it should primarily serve humanity rather than the interests of trans-national corporations</i>. People who are pro-multinational corporation do not think globalisation should primarily serve the interests of companies - they believe the interests of companies to be closely aligned with the interests of people. In writing these questions we have tried to write questions which reflect people’s views fairly and in terms they feel accurate. All of the questions in this quiz have recieved feedback from people on either side of the issue being presented.
  </p>
  <p class="f4">
Beyond that, the people who administer the quiz have a very poor sense of where other people would place on this quiz. Most people, unless they are left wing and liberal, believe the quiz places them to the left and liberal side of where they actually are. This sits at odds with how the compass writer then places political parties on their map. Most parties are, according to the original quiz's website, clustered in the blue square while supporters, voters and even politicians in these parties appear to achieve quite different results. It seems these parties’ placements are based on a <i>gut feeling</i>, it’s not as if any major party leaders have announced their position on <i>an eye for an eye, a tooth for a tooth</i>, and that <i>gut feeling</i> is that the parties are too right wing and too authoritarian. This is fine as a worldview but they are presenting these views as though this is an objective numerical measurement. Leading them to imply that after crunching the numbers The Brexit Party is roughly as authoritarian as Stalin. This website will not make sweeping claims of this sort which might make it less interesting, however it will be much less insane.
  </p>
  <h2 class="f3">Who are we?</h2>
  <p class="f4">
This quiz was built by Aria and Matt. Aria is a former political consultant and built the quiz because she missed opinion research data during the pandemic. Matt is a developer who, not content merely doing coding as a job, thought he would take it up as a hobby too.
  </p>
  <p class="f4">
Their positions on the political compass are <a href="/quiz/matt/results" target="_blank">here</a> and <a href="/quiz/aria/results" target="_blank">here</a> respectively, making this a cross-compass collaboration.
  </p>
  <p class="f4">
If you would like to send fun political compass memes, questions, or hate mail get in touch with Aria at <a target="_blank" href="https://twitter.com/Utilit_Aria">@Utilit_Aria</a> on twitter.
  </p>
  <p class="f4">
If you have some other issue, or would like to talk about how this website was built you can contact Matt at <a target="_blank" href="https://twitter.com/mattalexhill">@mattalexhill</a> on twitter.
  </p>
</div>

{{/inline}}
{{~> (parent)~}}
