{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="f3">Analysis</h1>
  <p>
Here we will write about some of the findings from the results of the quiz.
  </p>
  <p>
Firstly, we would like to thank everyone that has taken the quiz so far, it was
considerably more popular than either of us had anticipated. So much so that we
had a few performance issues!

Here is a timeline of the responses on the first day (July 4th) starting from
going online around noon.
  </p>
  <h3>A timeline of responses</h3>
{{> quiz/analysis/timeline }}
  <p>
As you can see it took just a couple of hours before the quiz was being completed
nearly one thousand times in fifteen minutes!

So with all of those results, what were the findings?
  </p>

  <h3>Putting everyone on a chart</h3>
{{> quiz/analysis/heatmaps }}
  <p>


  <h3>Here is another chart!</h3>
</div>

{{/inline}}
{{~> (parent)~}}
