{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="f3">Welcome to the Quiz</h1>
  <p class="f4">
    Let's find out where you land on the political compass
    by exploring your answers to a few simple questions.
  </p>
  <a href="/quiz/questions" class="f3">
    Start Quiz
  </a>
</div>

{{/inline}}
{{~> (parent)~}}
