{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="f3">Welcome to the quiz</h1>
  <p class="f4">
    Take the test to find out where you land on our new and improved political compass.
  </p>
  <a href="/quiz/questions" class="f3">
    Start Quiz
  </a>
</div>

{{/inline}}
{{~> (parent)~}}
