{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="f3">Privacy</h1>
  <p class="f4">
We are collecting special category data, i.e your political opinions but not to
worry, nothing we are retaining makes you uniquely identifiable. For example,
we do not store your IP address. We are using this data to write interesting
articles based on our findings and to add features to this website.
  </p>
  <p>
You can opt out of giving this data by selecting the <em class="it">Prefer not to say</em>
option for each of the questions.
  </p>
  <p class="f4">
If you have any concerns with how your data is being used please get in touch
with us on Twitter:
<a target="_blank" href="https://twitter.com/Utilit_Aria">Aria</a>
and
<a target="_blank" href="https://twitter.com/mattalexhill">Matt.</a>
  </p>
</div>

{{/inline}}
{{~> (parent)~}}
