{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="h-sub">Results</h1>
  <div class="qu-r">
    <img width="100%" height="400" src="/quiz/chart/{{econ}}/{{soc}}">
  </div>
</div>

{{/inline}}
{{~> (parent)~}}
