{{#*inline "page"}}

<div class="content-wrapper">
  <h1 class="h-sub">Results</h1>
  <div class="qu-r">
    <img width="100%" height="400" src="/quiz/chart/{{~ x ~}}/{{~ y ~}}">
      <p>
      You scored <span class="bold">({{ x_fmt }}, {{ y_fmt }})</span>
      <p>
{{#if message.show_blue }}
      This places you in the right-wing, conservative square.
{{/if }}
{{#if message.show_yellow }}
      This places you in the right-wing, woke square.
{{/if }}
{{#if message.show_green }}
      This places you in the left-wing, woke square.
{{/if }}
{{#if message.show_red }}
      This places you in the left-wing, conservative square.
{{/if }}
      </p>
      Share your results for clout online.
  </div>
</div>

{{/inline}}
{{~> (parent)~}}
